<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ConsoleApp.Properties.Settings>
            <setting name="Tenant_admin_url" serializeAs="String">
                <value>https://&lt;tenantname&gt;-admin.sharepoint.com</value>
            </setting>
            <setting name="Tenant_admin_username" serializeAs="String">
                <value>admin@&lt;tenantname&gt;.onmicrosoft.com</value>
            </setting>
            <setting name="Tenant_admin_password" serializeAs="String">
                <value />
            </setting>
            <setting name="Profile_prefix" serializeAs="String">
                <value>i:0#.f|membership|</value>
            </setting>
            <setting name="Small_thumbwidth" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="Medium_thumbwidth" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="Large_thumbwidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Import_csv_location" serializeAs="String">
                <value>userlist.csv</value>
            </setting>
            <setting name="Sleep_time_millisecond" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Mysite_url" serializeAs="String">
                <value>https://&lt;tenantname&gt;-my.sharepoint.com</value>
            </setting>
            <setting name="Relative_path_userprofile_picture_library" serializeAs="String">
                <value>/User%20Photos/Profielafbeeldingen</value>
            </setting>
        </ConsoleApp.Properties.Settings>
    </applicationSettings>
</configuration>